In [54]:
# Import all libraries needed 

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import sys 

# Enable inline plotting
%matplotlib inline

In [55]:
# Loading data from excel file


Location = "titanic3.xls"
df = pd.read_excel(Location)

In [56]:
# Display first five lines of data

df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [57]:
# Checking for missing data

missing_data_counts = pd.DataFrame(df.isnull().sum(), columns=['Missing Values'])
missing_data_counts

           Missing Values
pclass                  0
survived                0
name                    0
sex                     0
age                   263
sibsp                   0
parch                   0
ticket                  0
fare                    1
cabin                1014
embarked                2
boat                  823
body                 1188
home.dest             564

In [58]:
# Counting the data that is present

present_data_counts = pd.DataFrame(df.count(), columns=['Present Values'])
present_data_counts

           Present Values
pclass               1309
survived             1309
name                 1309
sex                  1309
age                  1046
sibsp                1309
parch                1309
ticket               1309
fare                 1308
cabin                 295
embarked             1307
boat                  486
body                  121
home.dest             745

In [59]:
# Identifying the types of data

data_types = pd.DataFrame(df.dtypes, columns=['Data Type'])
data_types

          Data Type
pclass        int64
survived      int64
name         object
sex          object
age         float64
sibsp         int64
parch         int64
ticket       object
fare        float64
cabin        object
embarked     object
boat         object
body        float64
home.dest    object

In [60]:
# Identifying the minimum values

minimum_values = pd.DataFrame(columns=['Minimum Values'])
for v in list(df.columns.values):
    minimum_values.loc[v] = [df[v].min()]
    
minimum_values

                Minimum Values
pclass                       1
survived                     0
name       Abbing, Mr. Anthony
sex                     female
age                     0.1667
sibsp                        0
parch                        0
ticket                     695
fare                         0
cabin                      inf
embarked                   inf
boat                         2
body                         1
home.dest                  inf

In [61]:
# Identifying the maximum values

maximum_values = pd.DataFrame(columns=['Maximum Values'])
for v in list(df.columns.values):
    maximum_values.loc[v] = [df[v].max()]
    
maximum_values

                        Maximum Values
pclass                               3
survived                             1
name       van Melkebeke, Mr. Philemon
sex                               male
age                                 80
sibsp                                8
parch                                9
ticket                       WE/P 5735
fare                           512.329
cabin                                T
embarked                             S
boat                                 D
body                               328
home.dest          Zurich, Switzerland

In [65]:
# Function to convert gender to numeric value

def score_to_numeric(x):
    if x=='female':
        return 1
    if x=='male':
        return 0

In [66]:
# Applying function to dataset

df['Gender_value'] = df['sex'].apply(score_to_numeric)
df.tail()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,Gender_value
1304,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN,1
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN,1
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN,0
1307,3,0,"Zakarian, Mr. Ortin",male,27.0,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN,0
1308,3,0,"Zimmerman, Mr. Leo",male,29.0,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN,0

In [67]:
# To fill in missing ages with the mean value of age

df["age"].fillna(df["age"].mean(), inplace=True)
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,Gender_value
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",1
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",0
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",1
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",0
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",1

In [68]:
# Applying the integer function to the age column

df['age'] = df['age'] = df['age'].apply(lambda x: int(x))
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,Gender_value
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",1
1,1,1,"Allison, Master. Hudson Trevor",male,0,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",0
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",1
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",0
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",1

In [69]:
# Function to convert port of embarkment to numeric value

def score_to_numeric(x):
    if x=='S':
        return 1
    if x=='C':
        return 2
    if x=='Q':
        return 3

In [70]:
# Applying function to dataset

df['Port_embark'] = df['embarked'].apply(score_to_numeric)
df.tail()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,Gender_value,Port_embark
1304,3,0,"Zabour, Miss. Hileni",female,14,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN,1,2.0
1305,3,0,"Zabour, Miss. Thamine",female,29,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN,1,2.0
1306,3,0,"Zakarian, Mr. Mapriededer",male,26,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN,0,2.0
1307,3,0,"Zakarian, Mr. Ortin",male,27,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN,0,2.0
1308,3,0,"Zimmerman, Mr. Leo",male,29,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN,0,1.0

In [71]:
# Look at correlation of dataframe to see where to go next

df.corr()

,pclass,survived,age,sibsp,parch,fare,body,Gender_value,Port_embark
pclass,1.000000,-0.312469,-0.372115,0.060832,0.018322,-0.558629,-0.034642,-0.124617,0.037527
survived,-0.312469,1.000000,-0.047021,-0.027825,0.082660,0.244265,NaN,0.528693,0.099776
age,-0.372115,-0.047021,1.000000,-0.190345,-0.128821,0.175485,0.059481,-0.055101,0.029054
sibsp,0.060832,-0.027825,-0.190345,1.000000,0.373587,0.160238,-0.099961,0.109609,-0.073937
parch,0.018322,0.082660,-0.128821,0.373587,1.000000,0.221539,0.051099,0.213125,-0.095975
fare,-0.558629,0.244265,0.175485,0.160238,0.221539,1.000000,-0.043110,0.185523,0.062017
body,-0.034642,NaN,0.059481,-0.099961,0.051099,-0.043110,1.000000,0.015903,0.033860
Gender_value,-0.124617,0.528693,-0.055101,0.109609,0.213125,0.185523,0.015903,1.000000,0.121868
Port_embark,0.037527,0.099776,0.029054,-0.073937,-0.095975,0.062017,0.033860,0.121868,1.000000

In [73]:
# Importing for linear regression

import statsmodels.formula.api as sm

# Linear regression of survival in relation to Passenger Class + fare

result = sm.ols(formula='survived ~ pclass + fare', data=df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.105
Model:                            OLS   Adj. R-squared:                  0.103
Method:                 Least Squares   F-statistic:                     76.16
Date:                Fri, 07 Jul 2017   Prob (F-statistic):           5.19e-32
Time:                        15:19:51   Log-Likelihood:                -839.83
No. Observations:                1308   AIC:                             1686.
Df Residuals:                    1305   BIC:                             1701.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.6904      0.050     13.833      0.000       0.592       0.788
pclass        -0.1481      0.018     -8.085      0.000      -0.184      -0.112
fare           0.0010      0.000      3.217      0.001       0.000       0.002
==============================================================================
Omnibus:                     5071.015   Durbin-Watson:                   1.833
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              142.833
Skew:                           0.467   Prob(JB):                     9.64e-32
Kurtosis:                       1.678   Cond. No.                         256.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [80]:
# Running the regression again without an intercept

# Importing for linear regression

import statsmodels.formula.api as sm

# Linear regression of survival in relation to Passenger Class + fare

result = sm.ols(formula='survived ~ pclass + fare - 1', data=df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.366
Model:                            OLS   Adj. R-squared:                  0.365
Method:                 Least Squares   F-statistic:                     376.5
Date:                Fri, 07 Jul 2017   Prob (F-statistic):          7.79e-130
Time:                        15:45:22   Log-Likelihood:                -929.32
No. Observations:                1308   AIC:                             1863.
Df Residuals:                    1306   BIC:                             1873.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
pclass         0.0934      0.006     15.697      0.000       0.082       0.105
fare           0.0037      0.000     15.657      0.000       0.003       0.004
==============================================================================
Omnibus:                       41.352   Durbin-Watson:                   1.630
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              158.115
Skew:                           0.453   Prob(JB):                     4.63e-35
Kurtosis:                       1.558   Cond. No.                         26.9
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [83]:
import statsmodels.formula.api as sm

# Linear regression of survival in relation to Gender value + siblings/spouse + parent/child

result = sm.ols(formula='survived ~ Gender_value + sibsp + parch', data=df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.287
Model:                            OLS   Adj. R-squared:                  0.285
Method:                 Least Squares   F-statistic:                     175.1
Date:                Fri, 07 Jul 2017   Prob (F-statistic):           2.21e-95
Time:                        15:50:13   Log-Likelihood:                -691.17
No. Observations:                1309   AIC:                             1390.
Df Residuals:                    1305   BIC:                             1411.
Df Model:                           3
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept        0.2077      0.015     13.872      0.000       0.178       0.237
Gender_value     0.5461      0.024     22.480      0.000       0.498       0.594
sibsp           -0.0406      0.012     -3.450      0.001      -0.064      -0.018
parch            0.0003      0.014      0.018      0.985      -0.028       0.029
==============================================================================
Omnibus:                       39.329   Durbin-Watson:                   1.640
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               42.229
Skew:                           0.434   Prob(JB):                     6.76e-10
Kurtosis:                       2.852   Cond. No.                         3.36
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [84]:
# Running the regression again without an intercept

import statsmodels.formula.api as sm

# Linear regression of survival in relation to Gender value + siblings/spouse + parent/child

result = sm.ols(formula='survived ~ Gender_value + sibsp + parch - 1', data=df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.494
Model:                            OLS   Adj. R-squared:                  0.493
Method:                 Least Squares   F-statistic:                     425.6
Date:                Fri, 07 Jul 2017   Prob (F-statistic):          8.48e-193
Time:                        15:51:06   Log-Likelihood:                -781.20
No. Observations:                1309   AIC:                             1568.
Df Residuals:                    1306   BIC:                             1584.
Df Model:                           3
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Gender_value     0.7130      0.023     31.555      0.000       0.669       0.757
sibsp           -0.0015      0.012     -0.126      0.900      -0.026       0.022
parch            0.0245      0.015      1.599      0.110      -0.006       0.055
==============================================================================
Omnibus:                       38.714   Durbin-Watson:                   1.523
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               57.755
Skew:                           0.281   Prob(JB):                     2.88e-13
Kurtosis:                       3.862   Cond. No.                         2.54
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [76]:
import statsmodels.formula.api as sm

# Linear regression of survival in relation to Port of embarkement + Passender class

result = sm.ols(formula='survived ~ Port_embark + pclass', data=df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.109
Model:                            OLS   Adj. R-squared:                  0.107
Method:                 Least Squares   F-statistic:                     79.59
Date:                Fri, 07 Jul 2017   Prob (F-statistic):           2.44e-33
Time:                        15:38:47   Log-Likelihood:                -835.25
No. Observations:                1307   AIC:                             1677.
Df Residuals:                    1304   BIC:                             1692.
Df Model:                           2
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept       0.6848      0.045     15.155      0.000       0.596       0.773
Port_embark     0.0829      0.019      4.265      0.000       0.045       0.121
pclass         -0.1826      0.015    -12.025      0.000      -0.212      -0.153
==============================================================================
Omnibus:                     4233.425   Durbin-Watson:                   1.858
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              135.572
Skew:                           0.436   Prob(JB):                     3.64e-30
Kurtosis:                       1.685   Cond. No.                         11.2
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [82]:
# Running the regression again without an intercept

import statsmodels.formula.api as sm

# Linear regression of survival in relation to Port of embarkement + Passender class

result = sm.ols(formula='survived ~ Port_embark + pclass - 1', data=df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.351
Model:                            OLS   Adj. R-squared:                  0.350
Method:                 Least Squares   F-statistic:                     353.2
Date:                Fri, 07 Jul 2017   Prob (F-statistic):          2.52e-123
Time:                        15:48:48   Log-Likelihood:                -941.27
No. Observations:                1307   AIC:                             1887.
Df Residuals:                    1305   BIC:                             1897.
Df Model:                           2
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Port_embark     0.2511      0.017     14.517      0.000       0.217       0.285
pclass         -0.0102      0.011     -0.932      0.352      -0.032       0.011
==============================================================================
Omnibus:                    13732.689   Durbin-Watson:                   1.657
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              127.673
Skew:                           0.364   Prob(JB):                     1.89e-28
Kurtosis:                       1.653   Cond. No.                         4.05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [78]:
import statsmodels.formula.api as sm

# Linear regression of survival in relation to Gender value + parent/children

result = sm.ols(formula='survived ~ Gender_value + parch', data=df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.280
Model:                            OLS   Adj. R-squared:                  0.279
Method:                 Least Squares   F-statistic:                     254.5
Date:                Fri, 07 Jul 2017   Prob (F-statistic):           4.54e-94
Time:                        15:43:30   Log-Likelihood:                -697.11
No. Observations:                1309   AIC:                             1400.
Df Residuals:                    1306   BIC:                             1416.
Df Model:                           2
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept        0.1954      0.015     13.381      0.000       0.167       0.224
Gender_value     0.5433      0.024     22.286      0.000       0.495       0.591
parch           -0.0177      0.013     -1.309      0.191      -0.044       0.009
==============================================================================
Omnibus:                       39.351   Durbin-Watson:                   1.614
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               42.195
Skew:                           0.433   Prob(JB):                     6.88e-10
Kurtosis:                       2.843   Cond. No.                         2.78
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [86]:
# Running the regression again without and intercept

import statsmodels.formula.api as sm

# Linear regression of survival in relation to Gender value + parent/children

result = sm.ols(formula='survived ~ Gender_value + parch - 1', data=df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.494
Model:                            OLS   Adj. R-squared:                  0.494
Method:                 Least Squares   F-statistic:                     638.9
Date:                Fri, 07 Jul 2017   Prob (F-statistic):          2.99e-194
Time:                        15:53:23   Log-Likelihood:                -781.21
No. Observations:                1309   AIC:                             1566.
Df Residuals:                    1307   BIC:                             1577.
Df Model:                           2
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Gender_value     0.7125      0.022     32.067      0.000       0.669       0.756
parch            0.0237      0.014      1.693      0.091      -0.004       0.051
==============================================================================
Omnibus:                       38.575   Durbin-Watson:                   1.522
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               57.449
Skew:                           0.281   Prob(JB):                     3.35e-13
Kurtosis:                       3.859   Cond. No.                         1.89
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [88]:
import statsmodels.formula.api as sm

# Linear regression of survival in relation to Gender value + parent/children

result = sm.ols(formula='survived ~ Gender_value + age', data=df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.280
Model:                            OLS   Adj. R-squared:                  0.279
Method:                 Least Squares   F-statistic:                     253.7
Date:                Fri, 07 Jul 2017   Prob (F-statistic):           7.98e-94
Time:                        15:54:12   Log-Likelihood:                -697.68
No. Observations:                1309   AIC:                             1401.
Df Residuals:                    1306   BIC:                             1417.
Df Model:                           2
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept        0.2114      0.030      6.974      0.000       0.152       0.271
Gender_value     0.5355      0.024     22.438      0.000       0.489       0.582
age             -0.0007      0.001     -0.763      0.446      -0.002       0.001
==============================================================================
Omnibus:                       35.953   Durbin-Watson:                   1.603
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               38.179
Skew:                           0.410   Prob(JB):                     5.12e-09
Kurtosis:                       2.831   Cond. No.                         91.5
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [89]:
# Running the regression again without and intercept

import statsmodels.formula.api as sm

# Linear regression of survival in relation to Gender value + parent/children

result = sm.ols(formula='survived ~ Gender_value + age - 1', data=df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.538
Model:                            OLS   Adj. R-squared:                  0.538
Method:                 Least Squares   F-statistic:                     762.1
Date:                Fri, 07 Jul 2017   Prob (F-statistic):          4.29e-220
Time:                        15:54:47   Log-Likelihood:                -721.61
No. Observations:                1309   AIC:                             1447.
Df Residuals:                    1307   BIC:                             1458.
Df Model:                           2
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Gender_value     0.5901      0.023     25.710      0.000       0.545       0.635
age              0.0048      0.000     11.302      0.000       0.004       0.006
==============================================================================
Omnibus:                       43.472   Durbin-Watson:                   1.653
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               47.006
Skew:                           0.459   Prob(JB):                     6.20e-11
Kurtosis:                       3.139   Cond. No.                         64.0
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""